<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Jsoystick</title>
    <link rel='stylesheet' href='/public/css/style.css'>
    <script>
        const mqtt_url = '<%= mqtt_url %>'
        const cam_server_url = '<%= cam_server_url %>'
    </script>
    <script src='/node_modules/jquery/dist/jquery.min.js'></script>
    <script src='/public/js/joy.js'></script>
    <script src='/node_modules/mqtt/dist/mqtt.min.js'></script>
    <script src='/public/js/app.js'></script>
    <script src='/public/js/header.js'></script>
</head>
<body>
    <%- include('./blocks/header.ejs') %>
    <h2 name='con' class='h2 disconnected mb-30'>Disconnected</h2>
    <div style='text-align: center;' class="mb-20">
        <img id='video' style='display: none;'>
    </div>
    <div class='container mb-30'>
        <div id='controls'>
            <div id='joy' style="touch-action: none;">
            
            </div>
            <div class="center-x">
                <input id='speed' type='range' min='1' max='10' value='10' style='margin-top: 10%;'>
                <p id='speed_value' style="text-align: center;">10</p>
            </div>
        </div>
    </div>
    <%- include('./blocks/footer.ejs') %>
    <script>
        const joy = $('#joy')
        const video = $('#video')

        function update_size() {
            if (window.innerWidth > window.innerHeight) {
                joy.height(window.innerHeight / 4)
                video.height(window.innerHeight / 2)
            }
            else {
                joy.height(window.innerWidth / 2)
                video.height(window.innerWidth / 2)
            }
        }

        update_size()

        addEventListener('resize', e => {
            update_size();
            app.joy.Resize();
        });

        if (cam_server_url !== '') {
            video.attr('src', cam_server_url + '/' + GetCookie('uid'))
            video.css('display', 'inline')
        }

        const speed = $('#speed')
        const speed_value = $('#speed_value')
        speed.on('input', () => {
            speed_value.text(speed.val())
        })

        const con = $('h2[name="con"]')
        const app = new App('#joy', mqtt_url)
        app.on_connect(() => {
            con.text('Connected')
            con.addClass('connected')
            con.removeClass('disconnected')
        })
        app.on_disconnect(() => {
            con.text('Disconnected')
            con.addClass('disconnected')
            con.removeClass('connected')
        })
        setInterval(() => {
            app.SendPos(parseInt(speed.val()))
        }, 100)
    </script>
</body>
</html>