<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/validating.js"></script>
</head>
<body>
    <div class="container mt-30 mb-30">
        <form class="form mb-30" method="POST" onsubmit="check(this); return false">
            <div class="form__control">
                <input class="form-input" type="text" name="username" placeholder="Username"/>
            </div>
            <div class="form__control">
                <input class="form-input" type="password" name="password" placeholder="Password"/>
            </div>
            <div class="form__control">
                <button class="form-button" type="submit">Login</button>
            </div>
        </form>
        <a href="/register">Register</a><br>
    <a href="/forgot_password">Forgot password?</a>
    </div>
    <%- include('./blocks/footer.ejs') %>
</body>
</html>