<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/public/js/header.js"></script>
    <script type="text/javascript" src="/public/js/profile.js"></script>
</head>
<body>
    <%- include('./blocks/header.ejs') %>
    <div class="container mb-30">
        <div class="wrapper">
            <nav class="sidebar">
                <ul class="sidebar__list">
                    <li class="sidebar__item"><button class="sidebar__button" name="data">Personal data</button></li>
                    <li class="sidebar__item"><button class="sidebar__button" name="config">Config</button></li>
                </ul>
            </nav>
            <div class="profile p-10"></div>
        </div>
    </div>
    <%- include('./blocks/footer.ejs') %>
</body>
</html>