@import "reset.scss";

$primary_color: #52AFDE;
$secondory_color: white;

.container {
    max-width: 1200px;
    margin: 0px auto;
}

@media(max-width:1200px) {
    .container {
        max-width: 970px;
    }
}

@media(max-width:992px) {
    .container {
        max-width: 750px;
    }
}

@media(max-width:767px) {
    .container {
        max-width: none;
    }
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.p-10 {
    padding: 10px;
}

.header {
    background: $primary_color;
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }
    &__logo {
        color: $secondory_color;
        font-weight: bold;
        font-size: 36px;
    }
    &__list {
        display: block;
    }
    &__item {
        display: inline-block;
        padding: 10px 15px;
    }
    &__item:hover, &__item:focus {
        background-color: #F90;
        border-radius: 5px;
        cursor: pointer;
    }
    &__link {
        color: $secondory_color;
        font-size: large;
        background-color: rgba(0, 0, 0, 0);
    }
    &__selected {
        text-decoration: underline;
    }
    &__selected:hover, &__selected a {
        cursor: default;
        background-color: rgba(0, 0, 0, 0);
    }
    &__dropdown {
        display: none;
        position: absolute;
        right: 4px;
        top: 4px;
        background-color: rgba(0, 0, 0, 0);
        border: rgba(0, 0, 0, 0) 0px solid;
    }
    &__bar {
        width: 50px;
        height: 10px;
        background-color: $secondory_color;
        margin: 5px;
    }
    @media(max-width:767px) {
        &__list {
            display: none;
            background-color: $primary_color;
            position: relative;
            border-top: 2px solid #1b1b1b;
            top: 116px;
        }
        &__item {
            display: block;
        }
        &__dropdown {
            display: block;
        }
    }
}
.h1 {
    font-size: xx-large;
    font-weight: bold;
}

.h2 {
    font-size: x-large;
    font-weight: bold;
}

.connected {
    text-align: center;
    color: green;
}

.disconnected {
    text-align: center;
    color: red;
}

#joystick {
    border: 1px solid black;
}
#joy {
    margin: 0 auto;
    width: 50%;
}

input, button {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    margin: 5px;
}

.wrapper {
    display: flex;
}

.sidebar {
    width: 100px;
    &__button {
        border-radius: 0;
        width: 100%;
        margin: 0px;
    }
}

.profile {
    flex: 1 0 auto;
    font-size: medium;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    &__video {
        margin: 10px;
    }
}

.form {
    &-input, &-button {
        margin: 5px;
        padding: 5px;
        font-size: 28px;
        border: 1px solid black;
        border-radius: 5px;
    }
}

.footer {
    color: $secondory_color;
    background-color: $primary_color;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: large;
}

.hidden {
    display: none;
}